<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">
<!--
  Reglas mínimas de análisis estático del equipo.
  Se mantienen pocas y en severidad "error" para que el pipeline
  bloquee solo lo que de verdad importa (no estilo cosmético).
-->
<module name="Checker">
  <property name="severity" value="error"/>
  <property name="charset" value="UTF-8"/>
  <module name="FileTabCharacter"/>
  <module name="NewlineAtEndOfFile"/>
  <module name="LineLength">
    <property name="max" value="140"/>
  </module>
  <module name="TreeWalker">
    <module name="AvoidStarImport"/>
    <module name="UnusedImports"/>
    <module name="RedundantImport"/>
    <module name="EmptyBlock"/>
    <module name="EmptyCatchBlock"/>
    <module name="EqualsHashCode"/>
    <module name="MissingSwitchDefault"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="TypeName"/>
    <module name="MethodName"/>
    <module name="ConstantName"/>
    <module name="NeedBraces"/>
  </module>
</module>
